body{
  background-color: #EAF6F6;
}

img {
  max-width: 75%;
  max-height: 75%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 7%;
}

h1, h3{
  color: #66BFBF;
}
